*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    
}

.container-contact-line{
    border-top: 2px solid;
    border-bottom: 2px solid;
    width: 60vw;
}

.container-contact-line div {
    font-size: 30px;
    text-align: center;
}

.container-contact ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
}

.container-contact ul li{
    font-size: 40px;
    padding: 30px 10px;
}


.contact{
    margin: 10px;
    color: rgb(23, 22, 22);
    font-size: 30px;
    padding: 5px;
    border-radius: 100%;
    display: flex;
}

.contact:hover{
    background-color: rgb(125, 120, 120);
    color: white;
    border-radius: 100%;
}